@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.menu {
  position: fixed;
  height: 100%;
  width: 78px;
  background: #0d66eb;
  padding: 6px 14px;
  transition: all 0.5s ease; /*hiệu ứng sau 0.5s sẽ hiện menu */
}

.menu i {
  /* css cho menu icons*/
  color: #fff;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.menu li {
  position: relative;
  margin: 25px 0; /* khoảng cách giữa các icons */
  list-style: none; /* bỏ dấu của dạng list */
}

.menu li .text-icon {
  /* css chữ icon */
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap; /* chữ ko bị xuống dòng */
  pointer-events: none;
}

.menu li:hover .text-icon {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.menu li a:hover {
  background-color: #fff; /* khi chỉ vào icons sẽ hiện màu */
}

.menu li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 1s ease;
  background: #0066ff;
}

.menu li a:hover i {
  /* khi trỏ vào icon -> hiệu ứng 0.5s và icon màu đen  */
  transition: all 0.5s ease;
  color: black;
}

.menu li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

/*------------Sinh Viên-------------*/

/*Tiêu đề Quản Lý Sinh Viên*/
.background-title {
    width: 100%;
    height: 80px;
}

.background-title .title {
    position: relative;
    left: 38%;
    top: 7px;
    font-size: 45px;
    color: #0d66eb;
    font-weight: 600;
    text-shadow: rgba(0, 0, 255, 0.267) -1px -2px 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Form add sinh viên*/
.background-form {
  position: relative;
    width: 1415px;
    height: 567px;
    top: 10px;
    left: 90px;
}

.student-form {
    position: relative;
    left: 15%;
    top: 15px;
    width: 600px;
    height: 540px;
    
    /* background-color: rgb(150, 138, 138); */
    padding-left: 10px;
    padding-top: 5px;
    /* border: 1px solid black; */
}

.check {
  position: relative;
  color: red;
  top: 20px;
  left: 101px;
}

.student-form .title {
    position: relative;
    top: 7px;
    left: -30px;
    width: 200px;
    height: 200px;
    font-size: 25px;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
}

.student-form .title::before {
  position: absolute;
  content: '';
  left: 10px;
  bottom: 1px;
  height: 5px;
  width: 150px;
  background-color: #0066ff;
  border-radius: 5px;
}

.student-form label {
    position: relative;
    display: inline-block;
    width: 120px;
    top: 21px;
    left: -40px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}    

.student-form input {
    position: relative;
    width: 400px;
    height: 40px;
    top: 20px;
    left: -65px;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgba(128, 128, 128, 0.623);
    background-color: white;
}

.student-form input:hover {
  border: 2px solid rgba(0, 0, 0, 0.603);
}


.student-form select {
    position: relative;
    width: 400px;
    height: 40px;
    left: -65px;

    top: -5px;
    border: 2px solid rgba(128, 128, 128, 0.623);
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
}

.student-form .gender {
  position: relative;
  top: -4px;
}

.student-form button {
    position: relative;
    top: 20px;
    left: 100px;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #033681;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.student-form img {
  position: absolute;
  width: 600px;
  height: 500px;
  left: 520px;
  top: 20px;
  border-radius: 10px;
}

/*----------------Table head----------------*/
.student-table {
  position: relative;
  width: 1415px;
  height: 700px;
  /* background-color:aqua; */
  left: 90px;
  top: 120px;
}

.background-head {
  position: relative;
  top: 10px;
  right: -90px;
  left: 20px;
  width: 1373px;
  height: 40px;
  padding-top: 8px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.212);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px 5px 0px 0;
}

.background-head label, .background-head select {
  position: relative;
  padding-right: 5px;
  top: -3px;
}

.background-head select {
  width: 150px;
  height: 28px;
  top: -4px;
  border-radius: 5px;
}

.background-head button {
  position: relative;
  top: -4px;
  left: 800px;
  width: 170px;
  height: 28px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 15px;
  background-color: #0066ff;
  color: white;
}

/*Student-table*/
.table-1st {
  position: relative;
  border-collapse: collapse;
  top: 13px;
  left: 20px;
  width: 1373px;
  height: 40px;
  border: 2px solid rgb(0, 0, 0);
  font-size: 17px;
}

.table-1st td {
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
}

.table-1st th {
  border: 2px solid rgba(29, 91, 184, 0.925);
  padding: 10px;
}


