@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
}

.menu {
  position: fixed;
  height: 100%;
  width: 78px;
  background: #0d66eb;
  padding: 6px 14px;
  transition: all 0.5s ease; /*hiệu ứng sau 0.5s sẽ hiện menu */
}

.menu i {
  /* css cho menu icons*/
  color: #fff;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.menu li {
  position: relative;
  margin: 25px 0; /* khoảng cách giữa các icons */
  list-style: none; /* bỏ dấu của dạng list */
}

.menu li .text-icon {
  /* css chữ icon */
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap; /* chữ ko bị xuống dòng */
  pointer-events: none;
}

.menu li:hover .text-icon {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.menu li a:hover {
  background-color: #fff; /* khi chỉ vào icons sẽ hiện màu */
}

.menu li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 1s ease;
  background: #0066ff;
}

.menu li a:hover i {
  /* khi trỏ vào icon -> hiệu ứng 0.5s và icon màu đen  */
  transition: all 0.5s ease;
  color: black;
}

.menu li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
/*------------------------------------------------------*/

/*------------------Chat--------------------------------*/
.container {
  width: 1519px;
  height: 940px;
  background-image: url(../images/background-01.png);
  background-position: center;
}

/*------------------Cột 1------------------------*/
.container .row1-mychat {
  width: 352px;
  height: 940px;
  background-image: url(../images/background-01.png);
  background-position: left;
  float: left;
  margin-left: 79px;
  border-right: 2px solid rgb(0, 0, 0);
}

.container .row1-mychat .title {
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
  text-shadow: rgba(0, 0, 255, 0.267) 3px 3px;
  background-image: url(../images/upscalebackground.jpg);
  background-position: top;
}

.container .row1-mychat .title:hover {
  color: #0066ff;
  cursor: pointer;
  text-decoration: underline;
}

.container .row1-mychat i {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #0066ff;
  top: 15px;
  right: 1120px;
  cursor: pointer;
}

.search {
  margin-top: 6px;
  margin-left: 4px;
  width: 340px;
  padding: 4px;
  left: 5px;
  border: 3px solid rgba(29, 91, 184, 0.925);
  padding: 10px;
  border-radius: 40px;
  font-size: 15px;
  background-image: url(../images/background-01.png);
  background-position: left;
}

.search [type="text"] {
  width: 86%;
  height: 100%;
}

.container .search i {
  margin-top: 62px;
  font-size: 22px;
  color: rgba(29, 91, 184, 0.925);
}

[type="text"] {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  font-size: 16px;
  background-image: url(../images/background-01.png);
  background-position: left;
}

.search :focus {
  outline: none;
}

/*Chat user*/
.chat-user1 {
  margin-top: 20px;
  width: 350px;
  height: 69px;
  border-radius: 10px;
  cursor: pointer;
}

.chat-user1:hover {
  background-image: url(../images/upscalebackground.jpg);
  background-position: right;
  transition: all 0.25s ease;
}

/* .chat-user1:focus {
  background-color: gray;
} */

.chat-user1 .avatar {
  margin-left: 6px;
  vertical-align: middle;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  margin-top: 5.25px;
}

.chat-user1 .name {
  position: relative;
  top: -50px;
  left: 70px;
  color: black;
}

.chat-user1 .chatcontent1 {
  position: relative;
  top: -50px;
  left: 70px;
  font-size: 13px;
  color: black;
}

.chat-user1 {
  margin-top: 20px;
  width: 350px;
  height: 69px;
  border-radius: 10px;
  cursor: pointer;
}

.chat-user1:hover {
  background-image: url(../images/upscalebackground.jpg);
  background-position: right;
  transition: all 0.25s ease;
}

/* .chat-user:focus {
  background-color: gray;
} */

/*user2*/
.chat-user2 {
  margin-top: 20px;
  width: 350px;
  height: 69px;
  border-radius: 10px;
  cursor: pointer;
}

.chat-user2:hover {
  background-image: url(../images/upscalebackground.jpg);
  background-position: right;
  transition: all 0.25s ease;
}

.chat-user1:focus {
  background-color: gray;
}

.chat-user2 .avatar2 {
  margin-left: 6px;
  vertical-align: middle;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  margin-top: 5.25px;
}

.chat-user2 .name2 {
  position: relative;
  top: -50px;
  left: 70px;
}

.chat-user2 .chatcontent2 {
  position: relative;
  top: -50px;
  left: 70px;
  font-size: 13px;
}

.chat-user2 {
  margin-top: 1px;
  width: 350px;
  height: 69px;
  border-radius: 10px;
  cursor: pointer;
}

.chat-user2:hover {
  background-image: url(../images/upscalebackground.jpg);
  background-position: right;
  transition: all 0.25s ease;
}

.chat-user1:focus {
  background-color: gray;
}

/*----------------------------Cột 2-----------------------------*/
.container .row2 {
  width: 780px;
  height: 940px;
  background-image: url(../images/background-01.png);
  background-position: top;
  margin-left: 400px;
  float: center;
  border-right: 2px solid rgb(0, 0, 0);
}

/* .container .row2 .text {
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  color: #0000008e;
  font-size: 20px;
  font-weight: 400;
} */

/*--------------Head---------------*/
.head {
  background-image: url(../images/upscalebackground.jpg);
  background-position: center;
  height: 68px;
}

.row2 .head .avatar-row2 {
  margin-top: 10px;
  margin-left: 10px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.row2 .head .avatar-row2:hover {
  text-decoration: underline;
}

.row2 .head .name-row2 {
  position: relative;
  left: 70px;
  top: -50px;
  cursor: pointer;
}

.name-row2:hover {
  text-decoration: underline;
}

.row2 .head .status {
  position: relative;
  top: -50px;
  left: 70px;
  cursor: pointer;
}

.status:hover {
  color: #0066ff;
}

.row2 .head i {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  left: 600px;
  top: -88px;
  font-size: 30px;
  border-radius: 10px;
  color: #0066ff;
  cursor: pointer;
}

i:hover {
  background-color: rgba(128, 128, 128, 0.589);
  transition: 0.25s;
}

/*-----------------Body---------------*/
.body-row2 .avatar-body-row2 {
  position: relative;
  top: 40px;
  left: 350px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.body-row2 p {
  position: relative;
  text-align: center;
  top: 40px;
  font-weight: 500;
  cursor: pointer;
}

.body-row2 .time {
  position: relative;
  text-align: center;
  top: 76px;
  font-size: 12px;
  color: gray;
}

/* p:hover {
  text-decoration: underline;
  color: #0066ff;
} */

.body-row2-content .avatar1 {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  left: 10px;
  top: 102px;
}

.body-row2-content .text01 {
  position: relative;
  width: 400px;
  height: 130px;
  margin-right: 10px;
  margin-left: 20px;
  padding-top: 3px;
  left: 70px;
  top: 55px;
  text-align: left;
  border-radius: 10px;
  background-color: #0d66ebee;
  color: white;
}

.body-row2-content .avatar2 {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  left: 700px;
  top: 170px;
}

.body-row2-content .text02 {
  position: relative;
  width: 400px;
  height: 130px;
  margin-right: 10px;
  margin-left: 20px;
  padding-top: 3px;
  left: 300px;
  top: 35px;
  text-align: left;
  border-radius: 10px;
  background-color: #0d66ebee;
  color: white;
}

.body-row2-content .avatar3 {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  left: 10px;
  top: 60px;
}

.body-row2-content .text03 {
  position: relative;
  width: 400px;
  height: 130px;
  margin-right: 10px;
  margin-left: 20px;
  padding-top: 3px;
  left: 70px;
  top: 14px;
  text-align: left;
  border-radius: 10px;
  background-color: #0d66ebee;
  color: white;
}

.body-row2-content .avatar4 {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  left: 700px;
  top: 37px;
}

.body-row2-content .text04 {
  position: relative;
  width: 400px;
  height: 130px;
  margin-right: 10px;
  margin-left: 20px;
  padding-top: 3px;
  left: 300px;
  top: -9px;
  text-align: left;
  border-radius: 10px;
  background-color: #0d66ebee;
  color: white;
}

/*--------------Cột 3-----------------*/
.container .row3 {
  position: absolute;
  left: 1180px;
  top: 5px;
  padding-left: 10px;
  font-size: 30px;
  color: black;
  font-weight: 500;
  text-shadow: rgba(0, 0, 255, 0.267) 3px 3px;
}

.container .row3:hover {
  color: #0066ff;
  text-decoration: underline;
}

.container .row3 i {
  position: relative;
  top: 2px;
  left: 175px;
  font-size: 30px;
  color: #0066ff;
  cursor: pointer;
}

.container .row3 .text {
  position: relative;
  left: -4px;
  top: 200px;
  text-shadow: none;
  font-size: 18px;
  text-align: center;
  font-weight: none;
  color: gray;
}
